# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Environment variables
.env

# Editor settings and system files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Temporary files
tmp/
temp/